.leaflet-control-geocoder-ban-form input {
  line-height: 50px !important;
}

.searchBar {
  border-radius: 0.5rem !important;
  border: 2px solid #324b51 !important;
  min-height: 50px !important;
  min-width: 30% !important;
  font-size: 1.3em;

  position: absolute;
  bottom: 0.5rem;
  z-index: 10000000000000000000 !important;
}
